body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: end;
    height: 100vh;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}

#left {
    /* background-color: red; */
    width: 60%;
    display: flex;
}

#right {
    /* background-color: yellow; */
    width: 40%;
    display: flex;
    border-left: 2px solid grey;
}

ul {
    /* background-color: aqua; */
    list-style-type: none;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}